[Unit]
Description=RPi Play
After=network.target
StartLimitIntervalSec=30

[Service]
Type=simple
Restart=always
RestartSec=10
User=pi
ExecStart=/usr/local/bin/rpiplay -n Projector -ar dummy -l
StandardOutput=inherit
StandardError=journal

[Install]
WantedBy=multi-user.target
